html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #485935
}

.contenedor-principal-PassWordRecovery {
    display: flex;
    height: 100vh;
}

#DivPrincipal-PassWordRecovery {
    width: 35%; 
    height: 100%; /* Usamos 100% para que ocupe toda la altura disponible */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto; /* Permite desplazamiento si el contenido es grande */
    text-align: left;
}

.bottom-left-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #6c7a32;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    background-color: #9DA66E; /* Verde oliva claro */
    color: white;
    border: none;
    padding: 12px 32px;
    border-radius: 50px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

@media (max-width: 768px) {
    .contenedor-principal-PassWordRecovery {
        flex-direction: column;
    }

    #DivPrincipal-PassWordRecovery {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .imagen-lateral {
        display: none;
    }

    .logo-contenedor {
        justify-content: center;
    }

    .btn-registrar {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #DivPrincipal-PassWordRecovery {
        padding: 15px;
    }

    .btn-registrar {
        font-size: 14px;
    }

    h5, h3 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    
    .contenedor-principal-PassWordRecovery {
        flex-direction: column;
        background-image: url('src/img/valley.png');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .imagen-lateral {
        display: none;
    }

    #DivPrincipal-PassWordRecovery {
        width: 90%;
        max-width: 400px;
        margin: 60px auto 40px auto; /* Arriba: 60px, abajo: 40px */
        background-color: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    .logo-contenedor {
        justify-content: center;
    }

    .btn-registrar {
        width: 100%;
        padding: 12px;
    }
}